.container-actors {
    max-height: 350px;
    margin: 0 5px;
}

.img-actor {
    max-height: 230px;
    width: 165px;
    border-radius: 20%;
    object-fit: contain;
}

.name-actor {
    font-weight: 600;
    font-size: 18px;
    margin: 0;
}

@media(max-width:470px) {
    .container-actors {
        max-height: 280px;
    }

    .img-actor {
        max-height: 200px;
        width: 125px;
    }

    .name-actor {
        font-weight: 500;
        font-size: 16px;
    }

    .character {
        font-size: 15px;
    }
}