*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  font-family: sans-serif;
  background-color: #1F1F1F;
  min-height: 100vh;
}

:root{
  --white: #FFF;
  /* --black: #000; */

  /* --dark-900: #101026; */
  /* --dark-700: #1D1D2E; */

  --gray-100: rgba(218, 208, 208, 0.231);
  --gray-300:rgba(60, 57, 57, 0.655);
  /* --green-900: #3fffa3; */
  --red-300: rgb(160, 99, 99);
  --red-700: rgb(253, 57, 99);
  --red-900: #F40134;

}

button{
  cursor: pointer;
  border: 0;
  box-sizing: border-box; 
}

a{
  text-decoration: none;
  color: #FFF;
}